@model projet2.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Désignation
            </th>
            <th>
                Prix
            </th>
            <th>
                Quantité
            </th>
            <th>
                Image
            </th>
          

            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.Désignation
                </td>
                <td>
                    @item.Prix
                </td>
                <td>
                    @item.Quantite
                </td>
                <td>
                    <img src="~/img/@item.Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                </td>
             
                <td>
                    <img src="~/img/@item.Category.ImageUrl" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
